@using Event.Models
@{
    var creator = ViewBag.creator;
    ViewData["Title"] = $"{@creator.GetUserName()}";
    var listevents = ViewBag.listEvents;
}
<body>
    


    <div class="container" id="push">
    <div class="d-flex">
        <div class="filter justify-content-center">
        <p onclick="filterMenu()">Filter</p> 
        </div>
    </div>
    <div class="grid-container">
        @foreach (var item in listevents)
        {
                <div class="grid-item @item.GetCategory().ToLower()" onload="applyBackground('@(item.GetCategory().ToLower())')">
                <img src="" alt="">
                <h2>@item.GetTitle()</h2>
                <p >@item.GetCategory()</p>
                <p>@item.GetLocation()</p>
                <p>@item.GetDate().ToString("yyyy-MM-dd")</p>
                <a href="" style="display: none;"></a>
                <a asp-controller="Event" asp-action="Index" asp-route-id="@item.GetEventId()">See more</a>
                </div>

        }
    </div>
    </div>

</body>