@using Event.Models;
@{
  ViewData["Title"] = "Creator";
  var creator = ViewBag.creator;
  var httpContext = new HttpContextAccessor().HttpContext;
  var cookie = ViewContext.HttpContext.Request.Cookies["User"];
  Users user = null;
  if (!string.IsNullOrEmpty(cookie))
  {
    user = JsonConvert.DeserializeObject<Users>(cookie);
  }
  var isFollowing = ViewBag.isFollowing;
  var index = 0;
  var recommendation = ViewBag.recommendation;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container mt-6">
<div class="event">
  <div class="event-header">
    <h2 class="event-title">@creator.GetUserName()</h2>
    <p class="event-category">@creator.GetEmail()</p>
  </div>
  <div class="event-body">
    <p class="event-description">Followers : @creator.GetFollowers()</p>
    <p class="event-location">Event posted : @creator.GetEventposted()</p>
    <br>
    @{
      if (cookie == null)
      {
        <a href="" class="follow mt-5">Follow</a>
      }
      else
      {
        if (isFollowing == true)
      {
          <a class="follow mt-5" asp-controller="Event" asp-action="Unfollow" asp-route-followerID="@user.GetUserID()" asp-route-followingID="@creator.GetUserID()">Unfollow</a>
      }
      else
      {
          <a class="follow mt-5" asp-controller="Event" asp-action="Follow" asp-route-followerID="@user.GetUserID()" asp-route-followingID="@creator.GetUserID()">Follow</a>
      }
      }
      
    }
     
  </div>
</div>
 <div class="grid-container">
    @foreach (var item in recommendation)
    {
              <div class="grid-item @item.GetCategory().ToLower()" onload="applyBackground('@(item.GetCategory().ToLower())')">
              <img src="" alt="">
              <h2>@item.GetTitle()</h2>
              <p >@item.GetCategory()</p>
              <p>@item.GetLocation()</p>
              <p>@item.GetDate().ToString("yyyy-MM-dd")</p>
              <a href="" style="display: none;"></a>
              <a asp-controller="Event" asp-action="Index" asp-route-id="@item.GetEventId()">See more</a>
              </div>
      {
        index++;
      }

    }
    </div>
    <p class="event-date"><a asp-controller="Event" asp-action="otherEvents" asp-route-UserID="@creator.GetUserID()">See more events posted by this person</a></p>

</div>
</body>
</html>